#navbar {
  @include position(absolute, 0 0 null 0);
  @include size(auto 8rem);
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;

  @include mq(mobile, tablet) { @include nav-gooey; }
  @include mq(tablet) {
    @include nav-stroke;
    background: rgba($Black, .2);
  }
  @include mq(desktop) { padding: 1rem calc((100% - 1020px) / 2); }

  .logo img { @include size(80px); }
}
