@mixin btn($color, $font: $White, $border: transparent) {
  background: $color;
  border: 2px solid $border;
  border-radius: 3rem;
  color: $font;
  cursor: pointer;
  display: inline-block;
  font-family: $FontBold;
  padding: 1rem 2rem;
  text-align: center;
  text-transform: uppercase;
  transition: padding .3s ease-in-out;
  width: 22rem;
  @include mq(tablet) { padding: 1rem 6rem; }

  &:hover {
    padding: 1rem 3rem;
    @include mq(tablet) { padding: 1rem 8rem; }
  }
}

// Button shine
// -----------------------------------------------------------------------------------------------------------------------------
@mixin btn-shine() {
  overflow: hidden;
  position: relative;
  &::before {
    @include centerer(vertical);
    animation: btn_shine 3s ease-in-out;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    background: linear-gradient(to right, rgba($White, .1) 0%, rgba($White, .8) 72%, rgba($White, .8) 92%, rgba($White, 0) 100%);
    content: '';
    display: block;
    height: 130%;
    left: -2rem;
    transform: translateY(-50%) rotate(30deg);
    width: 1rem;
  }

  @keyframes btn_shine {
    0% { left: -2rem; }
    40% { left: calc(100% + 1rem); }
    100% { left: calc(100% + 2rem); } // fakes animation-iteration-delay
  }
}
