// <span class="icon_symbol">
//     <i class="fa-some_icon"></i>
// </span>

@mixin icon-symbol($bg-color, $font-color, $size) {
  @include size($size);

  @if length($bg-color) > 1 {
    background: linear-gradient(to right, nth($bg-color, 1), nth($bg-color, 1) 50%, nth($bg-color, 2) 50%, nth($bg-color, 2));
  } @else {
    background: $bg-color;
  }

  border-radius: 50%;
  color: $font-color;
  display: inline-block;
  font-family: $FontBold;
  font-size: $size / 2;
  position: relative;

  > * { @include centerer; }
}
