{{ "<!-- Form section -->" | safeHTML }}
<section id="contact">
    <div id="contact-sent">
        <h2>{{ .Site.Data.contact.title }}</h2>
        <p class="description">{{ .Site.Data.contact.description }}</p>
        <p class="description">{{ .Site.Data.contact.description2 }}</p>

        <div class="contact-form">
            <form method="POST" action="//formspree.io/{{ .Site.Params.email }}">
                <input type="hidden" name="_next" value="{{ .Site.Data.contact.sent }}" />
                <div class="form-inputs">
                    <div>
                        <input type="text" name="name" placeholder="{{ .Site.Data.contact.formName }}" required>
                        <input type="text" name="_replyto" placeholder="{{ .Site.Data.contact.formEmail }}" required>
                        <input type="text" name="phone" placeholder="{{ .Site.Data.contact.formPhone }}">
                    </div>
                    <textarea name="message" placeholder="{{ .Site.Data.contact.formMessage }}" required=""></textarea>
                </div>
                <input type="text" name="_gotcha" style="display:none" />
                <input type="hidden" name="_subject" value="Message via {{ .Site.BaseURL }}">
                <div class="form-submit">
                    <label class="form-submit-button" for="form-open">
                        <input type="submit" value="{{ .Site.Data.contact.formButton }}">
                        {{ .Site.Data.contact.formButton }}
                    </label>
                    <span class="form-submit-bg"></span>
                </div>
            </form>
        </div>

        <div class="contact-thanks">
            <span class="icon-symbol" class="check"></span>
            <h2>{{ .Site.Data.thanks.title }}</h2>
            <p>{{ .Site.Data.thanks.description }}</p>
            <p>{{ .Site.Data.thanks.description2 }}</p>
        </div>
    </div>
</section>