<div id="navbar">
    <nav id="nav" class="menu">
        <input type="checkbox" class="menu-open no-select" name="menu-open" id="menu-open"/>
        <label class="menu-open-button no-select" for="menu-open">
            <span class="hamburger hamburger-1"></span>
            <span class="hamburger hamburger-2"></span>
            <span class="hamburger hamburger-3"></span>
        </label>

      {{ range .Site.Data.nav.item }}
        <a class="menu-item" href="{{ .url }}">
            <i class="{{ .icon }}"></i>
            <span>{{ .name }}</span>
        </a>
      {{ end }}
    </nav>
</div>