<section id="portfolio">
    <h2>{{ .Site.Data.portfolio.title }}</h2>

    <div class="portfoli-gallery">
        {{ range .Site.Data.portfolio.item }}
            <input checked type="radio" name="slider" id="slide{{ .weight }}">
        {{ end }}

        <div class="portfolio-gallery-slides">
            {{ range .Site.Data.portfolio.item }}
            <figure class="gallery-item">
                <figcaption>
                    <h3>{{ .title }}</h3>
                    <p class="gallery-item-description">{{ .description }}</p>
                    <a target="_blank" href="{{ .website }}" class="gallery-item-link">Visit Website</a>
                </figcaption>
                <div><img src="{{ .image }}" alt=""></div>
            </figure>
            {{ end }}
        </div>

        <div class="portfolio-gallery-controls">
            {{ range .Site.Data.portfolio.item }}
                <label for="slide{{ .weight }}"></label>
            {{ end }}
        </div>

        <div class="portfolio-gallery-breadcrumbs">
            {{ range .Site.Data.portfolio.item }}
                <label for="slide{{ .weight }}"></label>
            {{ end }}
        </div>
    </div>
</section>