localhost:3000               # Use port 3000 to communicate.
gzip                         # Compress website.
root public                  # The folder to read from
hugo hugo                    # Run hugo admin under /admin
basicauth /admin user pass  # Basic admin auth for panel
startup npm run gulp build:all

# git {
#   path  ../src/
#   repo git@gogs.com:iwfmp/myproject
#   key /home/user/.ssh/id_rsa
#   hook /webhook secret-password
#   then  hugo --destination=dist
# }

log .cache/logs/access.log {
    rotate {
        size 100 # Rotate after 100 MB
        age  14  # Keep log files for 14 days
        keep 10  # Keep at most 10 log files
    }
}
errors {
    log .cache/logs/error.log {
        size 50  # Rotate after 50 MB
        age  30  # Keep rotated files for 30 days
        keep 5   # Keep at most 5 log files
    }
    404 404.html # Not Found
}

# setcap cap_net_bind_service=+ep caddy