<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        {{ partial "nav.html" . }}
        {{ partial "header.html" . }}

        <main id="main">
            {{ partial "expertise.html" . }}
            {{ partial "portfolio.html" . }}
            {{ partial "contact.html" . }}
            {{ partial "footer.html" . }}
        </main>

    </body>

    {{ template "_internal/google_analytics.html" . }}

    <script>
        smoothScroll.init();
        window.location.replace("#");
        if (typeof window.history.replaceState == 'function') {
          history.replaceState({}, '', window.location.href.slice(0, -1));
        }
    </script>
</html>