{{ partial "head.html" . }}

<div id="navbar">
    <a href="#" class="logo">Elad Rom</a>

    <nav id="nav">
        <ul class="list-unstyled">
            <li><a href="#">Home</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</div>

<header id="header">

</header>
<section>
  {{ range (.Paginator 5).Pages }}
    {{ .Render "summary" }}
  {{ end }}
</section>

{{ partial "paginator.html" . }}

{{ partial "footer.html" . }}