// # ------------------- SNIP -------------------
// snippet round-table
// @include rounded_table(${1:border-radius}, ${2:border-color});
// endsnippet
// # ------------------- SNAP -------------------

@mixin rounded_table($border_width, $border_color) {
  table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
  }
  .bordered {
    @include border-radius($border_width);
    border: solid $border_color 1px;
    margin: 0;
    td, th {
      border-left: 1px solid $border_color;
      border-top: 1px solid $border_color;
      padding: 10px;
      vertical-align: middle;
    }
    th { border-top: none; }
    td:first-child, th:first-child { border-left: none; }
    th:first-child { @include border-radius($border_width 0 0 0); }
    th:last-child { @include border-radius(0 $border_width 0 0); }
    th:only-child { @include border-radius($border_width $border_width 0 0); }
    tr:last-child td:first-child { @include border-radius(0 0 0 $border_width); }
    tr:last-child td:last-child { @include border-radius(0 0 $border_width 0); }
  }
}