// # ------------------- SNIP -------------------
// snippet vertical-align
// @include vertical-align;
// endsnippet
// # ------------------- SNAP -------------------

@mixin vertical-align() {
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    margin-right: -.25em;
    vertical-align: middle;
  }

  > * {
    display: inline-block;
    vertical-align: middle;
  }
}