$z-layers: (
  under: -1,
  default: 1,
  nav: 2,
  dropdown: 3000,
  onboarding: 3500,
  overlay: 4000,
  modal: 4001
);

// _functions.scss
@function z($key) {
  @if map-has-key($z-layers, $key) {
    @return map-get($z-layers, $key);
  }

  // @warn 'Unknown `#{$key}` in $z-layers.';
  @return null;
}
