#contact {
  background: $Yellow;
  overflow: hidden;
  position: relative;

  p {
    font-size: 2rem;
    margin: 0;
  }


  // Form Design
  // -----------------------------------------------------------------------------------------------------------------------------
  .contact-form {
    margin: 0 auto;
    max-width: 1000px;
    padding-top: 4rem;
    transition: opacity .1s 1s linear;
    z-index: z(under);

    @include mq(mobile, landscape) { height: 480px; }
  }

  #contact-sent:target .contact-form {
    @include mq(mobile, landscape) {
      height: 0;
      transition: height .5s 1s linear;
    }
  }

  .contact-form form {
    .form-inputs {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative;
      > * { width: 100%; }

      @include mq(tablet) { > * { flex: 1; } }

      div {
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        input[type='text'] { @include mq(mobile, tablet) { margin-bottom: 2rem; } }
      }

      textarea {
        height: 160px;

        @include mq(tablet) { margin-left: 2rem; }
      }
    }
  }

  // Form Contact Submit Button
  // -----------------------------------------------------------------------------------------------------------------------------
  .form-submit {
    position: relative;

    input[type='submit'] {
      @include position(absolute, 0);

      background: none;
      border: none;
      color: transparent;
      cursor: pointer;
      width: 100%;
    }
  }

  .form-submit-button {
    @include btn($GrayDarker);
    @include btn-shine;

    margin-top: 40px;

    @include mq(mobile, landscape) {
      box-sizing: border-box;
      width: 100%;
    }
  }

  #contact-sent:target .form-submit-button {
    color: transparent;
    padding: 1rem 0;
    transition: padding .5s linear, width .5s ease-in-out;
    white-space: nowrap;
    width: 4rem;
  }

  // Form Contact Submit BG
  // -----------------------------------------------------------------------------------------------------------------------------
  .form-submit-bg {
    @include centerer(horizontal);
    @include size(4rem);

    background: $GrayDarker;
    border-radius: 50%;
    bottom: 10px;
    opacity: 0;
    transition: transform 1s .5s, visibility 0s .5s;
    visibility: hidden;
  }

  #contact-sent:target .form-submit-bg {
    opacity: 1;
    transform: scale(60);
    visibility: visible;
  }

  // Form Contact Thanks Box
  // -----------------------------------------------------------------------------------------------------------------------------
  .contact-thanks {
    @include position(absolute, 0);

    align-items: center;
    background: $GrayDarker;
    color: $White;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    padding: 0 2rem;
    transition: opacity .2s 1s linear;
    z-index: z(under);

    .icon-symbol {
      @include icon-symbol(transparent, $White, 50px);
      @include check-animate;

      border: 2px solid $White;
      margin-bottom: 2rem;
    }
  }

  #contact-sent:target .contact-thanks {
    opacity: 1;
    z-index: z(default);
  }
}
