#expertise {
  margin: 0 auto;
  max-width: 1200px;

  .expertise_blocks {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include mq(mobile, landscape) {
      flex-direction: column;
      justify-content: center;
    }
  }

  .expertise_block {
    margin: 2rem 0;

    @include mq(landscape) { width: 30%; }

    i {
      color: $Yellow;
      display: block;
      font-size: 5rem;
      margin-bottom: 2rem;
    }
    p { color: $GrayLight; }
  }
}
