#portfolio {
  background: $GrayLightest;

  .portfoli-gallery {
    @include gallery-new;
    margin: 40px auto;
    max-width: 1200px;
    position: relative;
    label:hover { cursor: pointer; }
  }
}
