.loader_overlay {
  @include position(fixed, 0 0 0 0);
  background: rgba($Black, .5);
  overflow-y: auto;
  z-index: 20;
}

.loader {
  @include centerer;
  @include inline-block(1em, 1em, auto, auto, auto);
  animation: load 1.3s infinite linear;
  border-radius: 50%;
  font-size: 20px;
  text-indent: -9999em;
}

@keyframes load {
  0%, 100% { box-shadow: 0 -3em 0 .2em $Gray, 2em -2em 0 0 $Gray, 3em 0 0 -.5em $Gray, 2em 2em 0 -.5em $Gray, 0 3em 0 -.5em $Gray, -2em 2em 0 -.5em $Gray, -3em 0 0 -.5em $Gray, -2em -2em 0 0 $Gray; }
  12.5% { box-shadow: 0 -3em 0 0 $Gray, 2em -2em 0 .2em $Gray, 3em 0 0 0 $Gray, 2em 2em 0 -.5em $Gray, 0 3em 0 -.5em $Gray, -2em 2em 0 -.5em $Gray, -3em 0 0 -.5em $Gray, -2em -2em 0 -.5em $Gray; }
  25% { box-shadow: 0 -3em 0 -.5em $Gray, 2em -2em 0 0 $Gray, 3em 0 0 .2em $Gray, 2em 2em 0 0 $Gray, 0 3em 0 -.5em $Gray, -2em 2em 0 -.5em $Gray, -3em 0 0 -.5em $Gray, -2em -2em 0 -.5em $Gray; }
  37.5% { box-shadow: 0 -3em 0 -.5em $Gray, 2em -2em 0 -.5em $Gray, 3em 0 0 0 $Gray, 2em 2em 0 .2em $Gray, 0 3em 0 0 $Gray, -2em 2em 0 -.5em $Gray, -3em 0 0 -.5em $Gray, -2em -2em 0 -.5em $Gray; }
  50% { box-shadow: 0 -3em 0 -.5em $Gray, 2em -2em 0 -.5em $Gray, 3em 0 0 -.5em $Gray, 2em 2em 0 0 $Gray, 0 3em 0 .2em $Gray, -2em 2em 0 0 $Gray, -3em 0 0 -.5em $Gray, -2em -2em 0 -.5em $Gray; }
  62.5% { box-shadow: 0 -3em 0 -.5em $Gray, 2em -2em 0 -.5em $Gray, 3em 0 0 -.5em $Gray, 2em 2em 0 -.5em $Gray, 0 3em 0 0 $Gray, -2em 2em 0 .2em $Gray, -3em 0 0 0 $Gray, -2em -2em 0 -.5em $Gray; }
  75% { box-shadow: 0 -3em 0 -.5em $Gray, 2em -2em 0 -.5em $Gray, 3em 0 0 -.5em $Gray, 2em 2em 0 -.5em $Gray, 0 3em 0 -.5em $Gray, -2em 2em 0 0 $Gray, -3em 0 0 .2em $Gray, -2em -2em 0 0 $Gray; }
  87.5% { box-shadow: 0 -3em 0 0 $Gray, 2em -2em 0 -.5em $Gray, 3em 0 0 -.5em $Gray, 2em 2em 0 -.5em $Gray, 0 3em 0 -.5em $Gray, -2em 2em 0 0 $Gray, -3em 0 0 0 $Gray, -2em -2em 0 .2em $Gray; }
}

