@mixin nav-stroke {
  .menu {
    display: flex;
    input, label { display: none; }

    .menu-item {
      color: $White;
      font-family: $FontBold;
      margin: 0 2rem;
      padding: 1rem 0;
      position: relative;
      text-transform: uppercase;
      i { display: none; }

      &::before, &::after {
        background: $White;
        content: '';
        height: 2px;
        opacity: 0;
        transition: all .3s;
        width: 0;
      }
      &::before { @include position(absolute, 0 null null 0); }
      &::after { @include position(absolute, null 0 0 null); }
      &:hover::before, &:hover::after {
        opacity: 1;
        width: 100%;
      }
    }
  }
}
