@mixin nav-gooey {

  // ******************************************************************************************************************************
  // Variables
  // ******************************************************************************************************************************
  $pi: 3.14;
  $menu-items: 5;
  $open-distance: 115px;
  $opening-angle: $pi - .2;
  $size: 7rem;

  %ball {
    @include size($size);
    @include centerer;
    background: $Yellow;
    border-radius: 50%;
    color: $White;
    line-height: $size;
    text-align: center;
    transform: translate3d(0, 0, 0);
    transition: transform ease-out 200ms;
  }

  // ******************************************************************************************************************************
  // Hamburger
  // ******************************************************************************************************************************
  .menu-open-button {
    @extend %ball;
    cursor: pointer;
    transform: scale(1, 1) translate3d(0, 0, 0);
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
    z-index: 2;
    &:hover { transform: scale(1.1, 1.1) translate3d(0, 0, 0); }
  }

  .hamburger {
    @include size(25px 3px);
    @include centerer;
    background: $White;
    display: block;
    transition: transform 200ms;
  }

  .hamburger-1 { transform: translate3d(-50%, calc(-50% - 8px), 0); }
  .hamburger-2 { transform: translate3d(-50%, -50%, 0); }
  .hamburger-3 { transform: translate3d(-50%, calc(-50% + 8px), 0); }

  // ******************************************************************************************************************************
  // Menu
  // ******************************************************************************************************************************
  .menu {
    font-size: 4rem;
    margin: -$size $size 0 0;
    position: relative;
  }

  .menu-item {
    @extend %ball;
    align-items: center;
    display: flex;
    justify-content: center;
    span { display: none; }
    &:hover {
      background: $White;
      color: $Yellow;
    }
    @for $i from 1 through $menu-items {
      &:nth-child(#{$i+2}) { transition-duration: 180ms; }
    }
  }

  // ******************************************************************************************************************************
  // Menu - Open
  // ******************************************************************************************************************************
  .menu-open { display: none; }
  .menu-open:checked + .menu-open-button {
    transform: scale(.8, .8) translate3d(0, 0, 0);
    transition-duration: 200ms;
    transition-timing-function: linear;

    .hamburger-1 { transform: translate3d(-50%, -50%, 0) rotate(45deg); }
    .hamburger-2 { transform: translate3d(-50%, -50%, 0) scale(.1, 1); }
    .hamburger-3 { transform: translate3d(-50%, -50%, 0) rotate(-45deg); }
  }

  .menu-open:checked ~ .menu-item {
    transition-timing-function: cubic-bezier(.935, 0, .34, 1.33);
    @for $i from 1 through $menu-items {
      $angle: (($pi - $opening-angle) / 2) + (($opening-angle/($menu-items - 1)) * ($i - 1));
      &:nth-child(#{$i+2}) {
        transform: translate3d(cos($angle) * $open-distance, sin($angle) * $open-distance, 0);
        transition-duration: 80ms + (80ms * $i);
      }
    }
  }
}
