// ******************************************************************************************************************************
// Variables
// ******************************************************************************************************************************
$enable-flex: true; // Bootstrap flex mode
$LightGray: rgb(219, 219, 219);
$Gray: rgb(100, 100, 100);
$Yellow: rgb(247, 221, 30);

// ******************************************************************************************************************************
// Mode Modules
// ******************************************************************************************************************************
// @import 'node_modules/bootstrap/scss/bootstrap';
// @import 'node_modules/sass-mq/mq';

// ******************************************************************************************************************************
// Utilities
// *****************************************************************************************************************************
@import 'utilities/inline-block';
@import 'utilities/list-separator';
@import 'utilities/position';
@import 'utilities/size';

// ******************************************************************************************************************************
// Components
// *****************************************************************************************************************************

// ******************************************************************************************************************************
// General Rules
// *****************************************************************************************************************************
body { font-family: 'Roboto', sans-serif; }
#main { font-family: 'Muli-Light', sans-serif; }

span {
  color: $Gray;
  display: block;
  font-size: 60px;
}
.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  width: 1em;
}

