// ******************************************************************************************************************************
// Variables
// ******************************************************************************************************************************
$Black: #000;
$Gray: #808080;
$GrayDarker: #252525;
$GrayLight: #a2a2a2;
$GrayLighter: #aaa;
$GrayLightest: #eaeaea;
$White: #fff;
$DarkBlue: rgb(49, 61, 65);
$Yellow: #fdcd3b;
$LightBlue: #00b4ff;
$LightRed: #f84462;
$Green: #41d56a;

$FontReg: 'Lato', sans-serif;
$FontBold: 'Montserrat', sans-serif;

// ******************************************************************************************************************************
// Utilities
// *****************************************************************************************************************************
@import 'utilities/centerer';
@import 'utilities/math';
@import 'utilities/position';
@import 'utilities/size';
@import 'utilities/visually-hidden';
@import 'utilities/z-index';

// ******************************************************************************************************************************
// Animations
// *****************************************************************************************************************************
@import 'animations/check';
@import 'animations/background';
@import 'animations/nav-gooey';
@import 'animations/nav-stroke';

// ******************************************************************************************************************************
// Componenets
// *****************************************************************************************************************************
@import 'components/btn';
@import 'components/icon-symbol';
