// ******************************************************************************************************************************
// Variables
// ******************************************************************************************************************************
$Black: #000;
$Gray: #808080;
$GrayDarker: #252525;
$GrayLight: #a2a2a2;
$White: #fff;
$DarkBlue: rgb(49, 61, 65);
$Yellow: #fdcd3b;

$FontReg: 'Lato', sans-serif;
$FontBold: 'Montserrat', sans-serif;

// ******************************************************************************************************************************
// Utilities
// *****************************************************************************************************************************
@import 'utilities/centerer';
@import 'utilities/position';
@import 'utilities/size';
@import 'utilities/visually-hidden';
@import 'utilities/z-index';

// ******************************************************************************************************************************
// Componenets
// *****************************************************************************************************************************
@import 'components/btn';
